In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [44]:
sales_data = pd.read_csv("sales_dataset.csv")
sales_data.head()

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom

In [93]:
sales_data["InvoiceDate"] = pd.to_datetime(sales_data["InvoiceDate"])

In [18]:
sales_data["StockCode"][sales_data["Country"] == "United Kingdom"].nunique()

5303

In [22]:
grouped = sales_data.groupby(["Customer ID", "Invoice"])["Price"].agg(Price = "sum")
grouped.loc[grouped["Price"] == grouped["Price"].max()]

                       Price
Customer ID Invoice
15098.0     C556445  38970.0

In [32]:
# most selling item
grouped_2 = sales_data.groupby(["StockCode"])["Quantity"].agg([np.sum])
grouped_2.sort_values("sum", ascending=False, inplace=True)
grouped_2.reset_index(inplace=True)
sales_data["Description"][sales_data["StockCode"] == grouped_2["StockCode"][0]]

1309       WORLD WAR 2 GLIDERS ASSTD DESIGNS
3548       WORLD WAR 2 GLIDERS ASSTD DESIGNS
4192       WORLD WAR 2 GLIDERS ASSTD DESIGNS
4531       WORLD WAR 2 GLIDERS ASSTD DESIGNS
4543       WORLD WAR 2 GLIDERS ASSTD DESIGNS
                         ...
1060258    WORLD WAR 2 GLIDERS ASSTD DESIGNS
1063701    WORLD WAR 2 GLIDERS ASSTD DESIGNS
1064307    WORLD WAR 2 GLIDERS ASSTD DESIGNS
1065828    WORLD WAR 2 GLIDERS ASSTD DESIGNS
1066009    WORLD WAR 2 GLIDERS ASSTD DESIGNS
Name: Description, Length: 1056, dtype: object

In [100]:
#Which date has the highest sales(total price) in France?
france_sales_data = sales_data.loc[sales_data["Country"] == "France"]
france_sales_data["Total_Price"] = france_sales_data["Quantity"] * france_sales_data["Price"]
france_sales_data.groupby("InvoiceDate")["Total_Price"].sum().sort_values(ascending=False)

C:\Users\Mrudul\AppData\Local\Temp\ipykernel_3848\135229898.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  france_sales_data["Total_Price"] = france_sales_data["Quantity"] * france_sales_data["Price"]

InvoiceDate
2010-08-09 13:10:00    11880.84
2011-10-28 07:39:00     8895.76
2010-05-06 11:50:00     6564.37
2011-10-11 14:52:00     4279.71
2010-10-11 10:56:00     4215.74
                         ...
2010-10-14 11:52:00     -504.49
2010-09-02 09:31:00    -1055.75
2011-04-05 09:46:00    -1136.30
2011-10-27 14:15:00    -8322.12
2010-09-28 11:02:00   -11880.84
Name: Total_Price, Length: 745, dtype: float64

In [92]:
# The number of unique customers who made a purchase on 22 June 2011
sales_data["InvoiceDate"] = pd.to_datetime(sales_data["InvoiceDate"])
sales_data["Customer ID"][sales_data["InvoiceDate"].date() == "2011-06-22"].nunique()

AttributeError: 'Series' object has no attribute 'date'

In [90]:
d1 = "2009-12-01 07:45:00"
d2 = "2009-12-01 08:20"
d1 = pd.to_datetime(d1)
d2 = pd.to_datetime(d2)
print(d1 == d2)
print(d1.year == d2.year)
print(d1.month == d2.month)
print(d1.day == d2.day)
print(d1.date() == d2.date())

False
True
True
True
True

In [9]:
data = {'distance': {0: 96,   1: 101,   2: 89,   3: 109,   4: 83,   5: 101,   6: 89,   7: 93,   8: 108,   9: 99,   10: 89,   11: 93},  
        'runner': {0: 'runner1',   1: 'runner2',   2: 'runner3',   3: 'runner4',   4: 'runner1',   5: 'runner2',   6: 'runner3',   7: 'runner4',   8: 'runner1',   9: 'runner2',   10: 'runner3',   11: 'runner4'}}
df = pd.DataFrame(data)
df

    distance   runner
0         96  runner1
1        101  runner2
2         89  runner3
3        109  runner4
4         83  runner1
5        101  runner2
6         89  runner3
7         93  runner4
8        108  runner1
9         99  runner2
10        89  runner3
11        93  runner4

In [71]:
def find_dist(x):
        x = x[x["distance"] > x["distance"].mean()]
        return x

new_df = df.groupby("runner").apply(find_dist)
new_df.reset_index(drop=True, inplace=True)
new_df = new_df.groupby("runner").agg({"runner" : "count"})
new_df.index.name = None
new_df["runner"]

runner1    2
runner2    2
runner4    1
Name: runner, dtype: int64

In [72]:
def find_dist(x):
        x = x[x["distance"] > x["distance"].mean()]
        #print(x["distance"].mean())
        x = x["distance"].count()
        return x

df = df.groupby("runner").apply(find_dist)
df

runner
runner1    2
runner2    2
runner3    0
runner4    1
dtype: int64

In [89]:
a = pd.DataFrame({'name':["Ram","Shyam","Mukesh","Suresh"],'age':[10,18,60,50]})

def bins(a):
    if (a["age"] < 18): 
        a["age"] = "kid"
    elif ((a["age"] >= 18) & (a["age"] <= 50)):
         a["age"] = "adult"
    else:
        a["age"] = "senior"
    return a

a = a.apply(bins, axis = 1)  
a

     name     age
0     Ram     kid
1   Shyam   adult
2  Mukesh  senior
3  Suresh   adult

In [10]:
test = pd.DataFrame({"birth_dates" : ["2016", "2005", "1995", "1999", "2022"]})
test

  birth_dates
0        2016
1        2005
2        1995
3        1999
4        2022

In [11]:
test["birth_dates"] = test["birth_dates"].astype("datetime64")
test["age"] = [pd.to_datetime('today').year-age.year for age in test["birth_dates"]]
test["age"]

0     6
1    17
2    27
3    23
4     0
Name: age, dtype: int64

In [5]:
df = pd.DataFrame({'Date':["2015-12-06", "2011-12-27", "2015-04-07", "2012-04-21", "2020-02-13", "2015-06-09"], 
                   'RID':[498, 721, 375, 464, 813, 853], 
                   'Phy':[22, 45, 1, 65, 22, 17], 
                   'Chem':[52, 56, 32, 50, 24, 61], 
                   'Math':[63, 37, 68, 62, 43 ,42]}) 
df

         Date  RID  Phy  Chem  Math
0  2015-12-06  498   22    52    63
1  2011-12-27  721   45    56    37
2  2015-04-07  375    1    32    68
3  2012-04-21  464   65    50    62
4  2020-02-13  813   22    24    43
5  2015-06-09  853   17    61    42

In [12]:
ans = []
df["Date"] = pd.to_datetime(df["Date"])
df["Month"] = (df["Date"].dt.month_name().str[:3]).str.upper()
df.sort_values("Month", ascending=True, inplace=True)
month_counts = df["Month"].value_counts()
ans.append(month_counts.index[0])
ans.append(month_counts.values[0])
means = df.groupby("Month")[["Chem", "Phy", "Math"]].apply("mean").round(2)
ans.extend(means.loc[month_counts.index[0], :].tolist())
ans

['APR', 2, 41.0, 33.0, 65.0]

In [13]:
month_counts

APR    2
DEC    2
FEB    1
JUN    1
Name: Month, dtype: int64

In [8]:
arr = np.arange(1, 10).reshape(3,3)
np.vstack((arr, arr[[2], :]))

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [7, 8, 9]])

In [10]:
arr1 = np.array([10, 52, 62, 16, 16, 54, 453])
arr2 = np.array([100, 90, 80, 70, 60, 50, 40])
arr3 = arr2[np.argsort(arr1)][3]
arr3

90

In [10]:
hw_data = pd.read_csv("weight_height.csv")
len(hw_data[hw_data["Height"] <= 70]) / len(hw_data)

0.8122

In [4]:
data = np.array([1,2,3,4])
np.quantile(data, 0.25)

1.75

In [6]:
data = np.array([30,32,35,35,38])
np.quantile(data, 0.25)

32.0

In [17]:
s = "GoodMorning"
s.isalpha()

True

In [4]:
import numpy as np
n = np.array([0, 1, 2, 0, 0, 3, 0])
print(np.where(n == 0))

(array([0, 3, 4, 6], dtype=int64),)

In [7]:
arr = [[1, 4, 5], 
       [2, 0, 1], 
       [4, 4, 2]]
arr = np.asarray(arr)

In [9]:
np.diagonal(arr).sum()

3

In [10]:
sum(np.diagonal(arr))

3

In [12]:
sum(np.diag(arr))

3

Q. 2, 8 sided die
given x
p(sum of both == x)

In [7]:
import numpy as np

d1 = np.arange(1, 9)
d2 = np.arange(1, 9)
x = 8
events = []

for i in range (1, 9):
    for j in range (1, 9):
        if(i + j == x):
            print(i, j)
            events.append(x)

p = len(events)/(len(d1) * len(d2))
p

1 7
2 6
3 5
4 4
5 3
6 2
7 1

0.109375

In [9]:
(len(d1) * len(d2))

64

In [10]:
len(events)

7

In [11]:
7/64

0.109375