In [3]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
import seaborn as sb

ML Time Series Analysis - 5

Q5. MAPE

In [4]:
from sklearn.metrics import mean_absolute_percentage_error as mape

In [7]:
l1 = [5, 11, 13, 6, 5]
l2 = [np.nan, 5, 6.8, 8.66, 7.862]
df = pd.DataFrame(list(zip(l1, l2)), columns = ["actual", "forecast"])
df

   actual  forecast
0       5       NaN
1      11     5.000
2      13     6.800
3       6     8.660
4       5     7.862

In [19]:
df1 = df.dropna()
mape(df1['actual'], df1['forecast']).round(2)

0.51